html {
    font-size: 100%;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    width: 900px;
    height: 100px;
    background-image: url(assets/images/flag-pattern.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 36px;
    color: purple;
}

main {
    width: 900px;
    height: 450px;
    background-image: url(assets/images/NOT_FZero-bg.jpg);
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center
}

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Orbitron:wght@500&family=Play:wght@400;700&family=Press+Start+2P&display=swap');

/*
font-family: 'Chakra Petch', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Play', sans-serif;
    font-family: 'Press Start 2P', cursive;
*/

/* MENU STRUVTURE */

#menu {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
}


.menuItem {
    max-width: 240px;
    margin: 5px 0 5px 0;
    font-family: 'Press Start 2P', cursive;
    color: turquoise;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px;
    width: fit-content;
    box-shadow: 0px 0px 10px rgba(200, 200, 200, 0.8);
}

.menuItemTitle {
    margin-bottom: 10px;
}

.menuItemTopic {
    text-transform: capitalize;
    margin: 3px;
    color: whitesmoke;
}

/* PLAYERS MENU */
#playersList {
    height: 80px;
    width: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 2px;
    column-gap: 5px;
}

.unsetPlayer {
    color: rgb(126, 126, 126);
}

/* ADD PLAYER MENU */

#newPlayerName {
    background-color: rgb(44, 43, 43);
    border: none;
    color: whitesmoke;
    margin: 3px 0 3px 2px;
    font-size: 16px;
    font-family: 'Play', sans-serif;
    width: 150px;
    text-transform: capitalize;
}

.menuButton {
    background-color: yellow;
    font-family: 'Play', sans-serif;
    font-size: 18px;
    padding: 3px;
    vertical-align: middle;
}

#startButton {
    width: 100%;
    text-align: center;
}

/* RESULT */

#winnerResult {
    text-shadow: 0 0 15px rgba(255, 100, 100, 0.8);
    animation-name: blink-effect;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes blink-effect {
    0% {color: purple;}
    50% {color: yellow;}
    100% {color: purple;}
}